<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/inicio.css">
    <title>Inicio Administrador</title>
</head>

<body>

    <div style="-webkit-app-region: drag" class="fondo">
        <div class="sidebar">
            <ul>
                <li>
                    <a style="-webkit-app-region: no-drag" href="#">
                        <img class="icono" src="assets/Inicio.png">
                    </a>
                </li>
                <li>
                    <a style="-webkit-app-region: no-drag" href="#">
                        <img class="icono" src="assets/Info.png">
                    </a>
                </li>
                <li>
                    <a style="-webkit-app-region: no-drag" id="myLink" href="#">
                        <img class="icono" src="assets/CerrarSesion.png">
                    </a>
                </li>
            </ul>
        </div>
        <div class="mainframe">
            <div class="encabezado">
                <div>
                    <img src="../assets/tec_logo.png" class="logo">
                </div>
                <div class="grow1">
                    <img src="../assets/tira.png" class="tira">
                </div>
            </div>
            <div class="botones">
                <button style="-webkit-app-region: no-drag" type="button" onclick="inventario()" class="btn"
                    style="margin-right: 30px;">
                    <img src="assets/Inventario.png">
                </button>
                <button style="-webkit-app-region: no-drag" type="button" onclick="productos()" class="btn">
                    <img src="assets/Productos.png">
                </button>
            </div>
        </div>
    </div>
    <script>

        $('#myLink').click(function () { xd(); return false; });


        function xd(result) {
            window.location.assign("index.html")
        }
    </script>
</body>

</html>